[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
pymysql = "*"
lxml = "*"
hivdb-graphql = {git = "ssh://git@github.com/hivdb/hivdb-graphql.git",ref = "0a8533b66fead5bb9b2762e5383d7fd7a54baa70"}

[requires]
python_version = "3.7"
