[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
pymysql = "*"
lxml = "*"
hivdb-graphql = {git = "ssh://git@github.com/hivdb/hivdb-graphql.git",ref = "0e2355a869c159da4707728ed34b89f124b154df"}

[requires]
python_version = "3.7"
