[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
pymysql = "*"
lxml = "*"
hivdb-graphql = {git = "ssh://git@github.com/hivdb/hivdb-graphql.git",ref = "1561a4bffd8b2fd9080c27ceb8edcb4e1ef0f607"}

[requires]
python_version = "3.7"
